
  <div class="container mt-5">
    <h1 class="text-right">Your Cart</h1>
    <div *ngIf="(cartItem$ | async)?.length === 0" class="text-center">
      <p>Your cart is empty.</p>
    </div>
    <div class="row" *ngIf="(cartItem$|async)?.length">
      <div class="col-md-8">
        <div *ngFor="let item of (cartItem$ | async)" class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img [src]="item.image" class="card-img" alt="{{item.title}}">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text"><small class="text-muted"><strong>Price:</strong> ${{item.price}}</small></p>
                <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                  <button class="btn btn-success me-md-1" type="button" (click)="increment(item.id)"><i class="bi bi-plus-circle"></i></button>
                  <h5 class="mx-2 pt-2">{{ item.quantity }}</h5>
                  <button class="btn btn-warning me-md-1" type="button" (click)="decrement(item.id)"><i class="bi bi-dash-circle"></i></button>
                  <button class="btn btn-danger" (click)="removeItem(item.id)" ><i class="bi bi-trash-fill"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4>Order Summary</h4>
          </div>
          <div class="card-body">
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between" *ngFor="let item of (cartItem$ | async)">
                <div>{{item.title}}</div>
                <span>${{item.price}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>${{ totalPrice$ | async | currency }}</strong>
              </li>
            </ul>
            <div class="row">
              <div class="col-6"> <button class="btn btn-success w-100" >Back To Shop</button></div>
              <div class="col-6"><button class="btn btn-primary w-100" >Checkout</button></div>
            </div>
           
            
          </div>
        </div>
      </div>
    </div>
  </div>
  